@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
.main{
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 2px solid green;  */
    height: 95vh;
    align-items: center;
}
.opac{
    height: 95vh;
    width   :100%;
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: rgb(255, 251, 146);
    opacity: 0.5;
}
.image{
    height: 95vh;
    width   :100%;
    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(4px);
}

.contain {
  /* position: relative; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  /* border: 2px solid red; */
  background-color: whitesmoke;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem lightcoral;
    }

.heading{
    font-size: 4.5rem;
    color: #F9BC06;
}

.sub{
    font-size: 1.7rem;
      font-family: "SUSE Mono", sans-serif;

}

.quote{
    color: sandybrown;
    font-size: 1.5rem;
}

.view{
    padding: 10px;
    border-radius: 0.7rem;
    background-color: #F9BC06;
    border: none;
   
    cursor: pointer;
}

.view a{
     font-size: 1.5rem;
  font-family: "SUSE Mono", sans-serif;
    color: white;
    text-decoration: none;
}

