.main{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding:1rem;
    min-height: 70vh;
    
}

.formCard{
    /* border: 2px solid; */
    box-shadow: 1px 1px 5px grey;
    border-radius:1rem ;
    padding:1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}

.formCard input{
    padding: 10px;
    border-radius: 0.7rem;
    outline: none;
    border: 2px solid lightblue;
}

.formCard textarea{
    padding: 10px;
    border-radius: 0.7rem;
    border: 2px solid lightblue;
    outline: none;
}

.addblessing{
    width: 30%;
    padding: 0.5rem;
    align-self: center;
    background-color: #F9BC06;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.main h1{
    font-size: 3.5rem;
}

.formCard h2{
    align-self: center;
    font-size: 1.5rem;
}

.blessingsList{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    width: 50%;
    gap: 2rem;
    padding: 1rem;
}

.blessingCard{
    /* border: 2px solid red; */
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
}
.blessingCard strong{
    font-size: 1.5rem;
}

.name{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

.overall{
    display: flex;
    flex-direction: column  ;
    gap: 0.5rem;
}

.overall > div{
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}