.main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.contain{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
}
.heading{
    text-align: center;
    font-size: 1.6rem;
    color: gold;
}
.time{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem;

}

.one{
    /* border: 2px solid red; */
    box-shadow: 0 0 5px gold;
    border-radius: 1rem;
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.sub1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sub1 .item{
    display: flex;
    /* flex-direction: column; */
    gap:1rem;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* border: 2px solid red; */
    padding: 1rem;
      box-shadow: 0 0 5px gold;
    border-radius: 1rem;
}

.sub2{
    display: flex;
    gap: 1rem;
}